@tailwind base;
@tailwind utilities;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
.rancho-regular {
    font-family: "Rancho", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

.bg-header{
    background-image: url('./img/15.jpg');
}
.bg-hero{
    background-image: url('./img/3.png');
}